body{
  background-color: black;
  color: white;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

h1.main-heading{
  color: #F1C40F;
}

.search-box-input{
  border-radius: 50px;
  width: 200px;
  height: 30px;
  text-align: center;
}

.movie-results-div a {
  color: white;
}

.star{
  margin: 0 10px 0 10px;
  cursor: pointer;
}

.highlighted{
  background-color: #F1C40F;
}

.movie-results-div{
  margin: 20px 0 0 0;
}

.movie-details-div .header-div{
  text-align: left;
  padding: 10px 20px;
}

.movie-details-div a{
  color: white;
}

.movie-details-div .heading-text{

}

.movie-details-div .body-div{
  text-align: left;
  padding: 10px 20px;
}

.moviedetail-key-span{
  font-weight: 900;
}

.moviedetail-key-span{

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

